.idea/*
__pycache__
pkl
*.aux
*.log
*.bbl
*.out
*.blg
*.pdf
*.toc
*.fls
*.fdb_latexmk
pip-wheel-metadata/
*.synctex.gz
.ipynb*
.pytest_cache
ruspy.egg-info
build
test.ruspy.yml
figures
ruspy.rst
modules.rst

