.idea/*
__pycache__
pkl
sim_file.pkl
*.aux
*.log
*.bbl
*.out
*.blg
*.pdf
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
.ipynb*
.pytest_cache
ruspy.egg-info
*.png
build
test.ruspy.yml
figures
ruspy.rst
modules.rst

