language: python

python:
  - "3.6"

install:
  - sudo apt-get update
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - PATH="$HOME/miniconda/bin:$PATH"
  - conda env create -f environment.yml
  - source activate ruspy

before_script:
  - export PYTHONPATH=$PYTHONPATH:$(pwd)

script:
    - source .envrc
    - py.test
    - ex-promotion-nbs.py


after_success:
    - codecov

notifications:
  email: false

